@page "/Dashboard"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using OfficeManagement.Locales;

@inject IStringLocalizer<Resource> localizer

@attribute [Authorize]

<PageTitle>@localizer["Dashboard"]</PageTitle>

<h1>@localizer["You are authenticated"]</h1>

<AuthorizeView>
    @localizer["Hello"] @context.User.Identity?.Name!
</AuthorizeView>
