@page "/"
@using Microsoft.Extensions.Localization
@using OfficeManagement.Locales

@inject IStringLocalizer<Resource> localizer

<PageTitle>@localizer["Office Management"]</PageTitle>

<h1>@localizer["Office Management"]</h1>

