@page "/Dashboard/SuperUserDashboard"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Policy = "SuperUserDashboardOnly")]

<PageTitle>Super User Dashboard</PageTitle>

<h3>SuperUserDashboard</h3>

@code {

}
